<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/styles.css">
    <link rel="stylesheet" href="../../public/css/bootstrap-icons/bootstrap-icons.css">



    <script src="../../src/js/vendors/bootstrap.min.js" defer></script>
    <script type="module" src="basket.js" defer></script>
    
    <title>Orinoco</title>
</head>
<body class="d-flex flex-column h-100">
    
    <div id="modalContainer"></div>

    <header id="mainHeader" class="bg-dark"></header> 

    <main class="container">
        <section class="my-5">
            <form id="formBasket" action="#" method="POST">
                <div class="row">
                    <div class="col-12 col-xl-8 p-5 bg-white">
                        <div class="border-bottom pb-3 ">
                            <h1 class="fw-bold" >Votre panier</h1>
                            <button type="button" class="btn btn-link ps-0" id="deselectAll" >Déselectionner tous</button>                
                        </div>

                        <div id="content"></div> 

                        <div class="text-end mt-2">
                            <div> 
                                Prix total : <strong class="total"></strong>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Passer la commande</button>
                        </div>                        
                    </div>

                    <div class="col-12 col-xl-4 p-0 pt-5 p-xl-0 ps-xl-5">
                        <div class="p-5 bg-white h-100">
                            <h2 class="fw-bold">Modalités</h2>
                            <div> Prix total : <strong class="total"></strong> </div>
                            <div> Date de livraison prévisionnel : <strong id="date_prev"></strong> </div>
                            <div class="mb-5"> Frais de port : <strong>offert</strong> </div>
                            <button type="submit" class="btn btn-primary ">Passer la commande</button>                            
                        </div>
                    </div>  
                </div>
            </form>
            
        </section>

    </main>

    <footer id="mainFooter"  class="mt-auto py-3 bg-dark text-white" ></footer>

</body>
</html>