<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/styles.css">
    <link rel="stylesheet" href="../../public/css/bootstrap-icons/bootstrap-icons.css">



    <script src="../../public/js/vendors/bootstrap.min.js" defer></script>
    <script src="../../public/js/itemBasketManager.js" defer></script>
    <script src="../../public/js/item.js" defer></script>
    <script src="basket.js" defer></script>
    
    <title>Orinoco</title>
</head>
<body class="d-flex flex-column h-100">
    
    <div id="displayFormDelivery" class="position-fixed w-100 h-100 overflow-auto d-none display-form-delivery" >
        <div class="row position-relative">
            <section class="col-12 px-0 col-lg-6 m-auto bg-white my-5 rounded-3 overflow-hidden form-delivery">
                    <div class=" bg-light p-3 fs-5 d-flex">
                        Informations de livraison 
                        <button id="shutButtonForm" class="btn btn-default ms-auto px-2">
                            <i class="bi bi-x-square-fill"></i>
                        </button>
                    </div>
                    <div class=" m-auto p-3">
                        <h2>Informations de livraison</h2>
                        <form id="formDelivery" class="row" novalidate>

                            <div class="mb-3">
                                <label for="country" class="mb-1" aria-label="Pays">Pays</label>
                                <select class="form-control" id="country" name="country" placeholder="Indiquez un pays" pattern="^[\p{L} '-]+$" disabled>
                                    <option value="0">France</option>
                                </select>
                            </div>

                            
                            
                            <div class="mb-3">
                                <label for="firstName" class="mb-1" aria-label="Prénom">Prénom</label>
                                <input type="text" class="form-control" id="firstName" name="firstName"  pattern="^[\p{L} '-]+$" required>
                                <div class="valid-feedback"> Looks good! </div>
                                <div class="invalid-feedback">
                                    <strong>Le Prénom n'a pas été renseigné, ou a été mal renseigné.</strong><br/>
                                    Seul les caracètres suivants sont autorisés : 
                                    <ul>
                                        <li>Les caractères alphabétiques</li>
                                        <li>l'apostrophe (')</li>
                                        <li>le tiret (-)</li>
                                    </ul>
                                </div>
                            </div>
            
                            <div class="mb-3">
                                <label for="familyName" class="mb-1"   aria-label="Nom">Nom</label>
                                <input type="text" class="form-control" id="familyName" name="familyName" pattern="^[\p{L} '-]+$"  required>
                                <div class="valid-feedback"> Looks good! </div>
                                <div class="invalid-feedback">
                                    <strong>Le Nom n'a pas été renseigné, ou a été mal renseigné.</strong><br/>
                                    Seul les caracètres suivants sont autorisés : 
                                    <ul>
                                        <li>Les caractères alphabétiques</li>
                                        <li>l'apostrophe (')</li>
                                        <li>le tiret (-)</li>
                                    </ul>
                                </div>
                            </div>
            
                            <div class="mb-3">
                                <label for="adressLine1" class="mb-1"   aria-label="Adresse ligne 1">Adresse ligne 1</label>
                                <input type="text" class="form-control" id="adressLine1" name="adressLine1" placeholder="Adresse postale, boîte postale" required>
                                <div class="valid-feedback"> Looks good! </div>
                                <div class="invalid-feedback"> <strong>L'Adresse ligne 1 n'a pas été renseignée..</strong> </div>
                            </div>
            
                            <div class="mb-3">
                                <label for="adressLine2" class="mb-1"   aria-label="Adresse ligne 2">Adresse ligne 2</label>
                                <input type="text" class="form-control" id="adressLine2" name="adressLine2" placeholder="Appartement, suite unité, immeuble, étage, etc.">
                            </div>
            
                            <div class="mb-3">
                                <label for="town" class="mb-1" aria-label="Ville">Ville</label>
                                <input type="text" class="form-control" id="town" name="town"  required>
                                <div class="valid-feedback"> Looks good! </div>
                                <div class="invalid-feedback"> <strong>La Ville n'a pas été renseignée.</strong> </div>
                            </div>
            
                            <div class="mb-3">
                                <label for="zipCode" class="mb-1"   aria-label="Code Postale">Code Postale</label>
                                <input id="zipCode" name="zipCode" type="text" class="form-control" pattern="^[\p{N}]{5}$" minlength="5" maxlength="5"  required>
                                <div class="valid-feedback"> Looks good! </div>
                                <div class="invalid-feedback">
                                    <strong>Le code Postale n'a pas été renseigné, ou a été mal renseigné.</strong>
                                    <ul>
                                        <li>Seul les caracètres numériques sont autorisés</li>
                                        <li>Il doit contenir 5 chiffres</li>
                                    </ul>
                                </div>
                            </div>
            
                            <div class="mb-3">
                                <label for="phoneNumber" class="mb-1"   aria-label="Numéro de téléphone">Numéro de téléphone</label>
                                <input id="phoneNumber" name="phoneNumber" type="tel" class="form-control" pattern="^0[\p{N}]{9}$" maxlength="10"   required>
                                <div class="valid-feedback"> Looks good! </div>
                                <div class="invalid-feedback">
                                    <strong>Le numéro de téléphone n'a pas été renseigné, ou a été mal renseigné.</strong>
                                    <ul>
                                        <li>Seul les caracètres numériques sont autorisés</li>
                                        <li>Il doit contenir 10 chiffres</li>
                                    </ul>
                                </div>
                            </div>
            
            
                            <div class="mb-3">
                                <label for="email" class="mb-1" aria-label="Adresse email">Adresse email</label>
                                <div class="input-group has-validation ">
                                    <span class="input-group-text" id="inputGroupPrepend3">@</span>
                                    <input type="email" class="form-control" id="email" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback emailHelp" required>
                                    <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                        <strong>L'adresse email n'a pas été renseigné, ou a été mal renseigné.</strong>
                                    </div>
                                    <div id="validationServerUsernameFeedback" class="valid-feedback"> Looks good! </div>
                                </div>
                                <div id="emailHelp" class="form-text">Exemple : Phil@contat.fr</div>
                            </div>
                            <section>
                                <div class="">
                                    <h3 class="h5">Ajouter des instructions pour la livraison</h3>
                                    <div class="mb-3">
                                        <label for="moreInfo" class="mb-1"   aria-label="Avons-nous besoin de directions supplémentaires pour trouver cette adresse?">
                                            Avons-nous besoin de directions supplémentaires pour trouver cette adresse?
                                        </label>
                                        <textarea name="moreInfo" class="form-control" id="moreInfo" rows="5" placeholder="Fournir des détails tels que la description du bâtiment, un point de repère à proximité ou d'autres instructions de navigation"></textarea>
                                    </div>
                                </div>   
                                
                                <div class="mb-3">
                                    <label for="secureBuildingCode" class="mb-1"   aria-label="Faut-il un code de sécurité ou un numéro de téléphone pour accéder au bâtiment ?">
                                        Faut-il un code de sécurité ou un numéro de téléphone pour accéder au bâtiment ?
                                    </label>
                                    <input type="text" class="form-control" id="secureBuildingCode" name="secureBuildingCode" >
                                </div>

                            </section>

                            

                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">Valider</button>
                            </div>
                        </form>  
                    </div>     
            </section>                 
        </div>
        <div class="w-100 h-100 position-absolute top-0 shut-zone"></div>
    </div>

    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>   
        </div>
    </header>
    <main class="container">




        <section class="py-5 px-3">
            <form id="formBasket" action="#" method="POST">
                <div class="row">
                    <div class="col-9">
                        <div class="border-bottom pb-3 ">
                            <h1>Votre panier</h1>
                            <button type="button" class="btn btn-link" id="deselectAll" >Déselectionner tous</button>                
                        </div>
                        <div id="content">

                        </div> 
                        <div class="text-end mt-2">
                            <div>
                                <span class="total"></span>
                            </div>
                            <button type="submit" class="btn btn-warning mt-2">Passer la commande</button>
                        </div>                        
                    </div>

                    <div class="col-3">
                        <div>
                            <span class="total"></span>
                        </div>
                        <button type="submit" class="btn btn-warning ">Passer la commande</button>
                    </div>                    
                </div>
                
            

            </form>
            
        </section>


        
    </main>



    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
          <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>

</body>
</html>