<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/styles.css">
    <link rel="stylesheet" href="../../public/css/bootstrap-icons/bootstrap-icons.css">



    <script src="../../src/js/vendors/bootstrap.min.js" defer></script>
    <script type="module" src="basket.js" defer></script>
    
    <title>Orinoco</title>
</head>
<body class="d-flex flex-column h-100">
    
    <div id="modalContainer"></div>

    <header id="mainHeader" class="bg-dark"></header> 

    <main class="container">
        <section class="py-5 px-3">
            <form id="formBasket" action="#" method="POST">
                <div class="row">
                    <div class="col-9">
                        <div class="border-bottom pb-3 ">
                            <h1>Votre panier</h1>
                            <button type="button" class="btn btn-link" id="deselectAll" >Déselectionner tous</button>                
                        </div>
                        <div id="content">

                        </div> 
                        <div class="text-end mt-2">
                            <div>
                                <span class="total"></span>
                            </div>
                            <button type="submit" class="btn btn-warning mt-2">Passer la commande</button>
                        </div>                        
                    </div>

                    <div class="col-3">
                        <div>
                            <span class="total"></span>
                        </div>
                        <button type="submit" class="btn btn-warning ">Passer la commande</button>
                    </div>                    
                </div>
                
            

            </form>
            
        </section>


        
    </main>

    <footer id="mainFooter"  class="mt-auto py-3 bg-dark text-white" ></footer>

</body>
</html>