<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/styles.css">
    <link rel="stylesheet" href="../../public/css/bootstrap-icons/bootstrap-icons.css">
    

    
    <script src="../../src/js/vendors/bootstrap.min.js" defer></script>

    <script type="module" src="index.js" defer></script>

    
    <title>Orinoco</title>
</head>
<body class="d-flex flex-column h-100">
    

    <main class="container">
        <div class="p-5 mb-4 bg-dark text-white rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Custom jumbotron</h1>
              <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
              <button class="btn btn-primary btn-lg" type="button">Example button</button>
            </div>
        </div>

        <section class="p-5">

            <div class="row pb-3">
                <div class="col">
                    <h2 class="fw-bold">Notre gamme de produit</h2>
                </div>
            </div>

            <div class="row" id="products"></div> 

        </section>
    </main>


</body>
</html>