<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/styles.css">

    <script src="../../src/js/vendors/bootstrap.min.js" defer></script>
    <script type="module" src="confirm-command.js" ></script>
    
    <title >Commande validée - Orinoco</title>
</head>
<body class="d-flex flex-column h-100">
    
    <header id="mainHeader" class="bg-dark"></header> 

    <main class="container">

        <div class="row my-5">
            <div class="col-12 col-xl-8 p-5 bg-white">
                <section class="row rounded-3 ">
                    <div class="mb-5">
                        <h1 class='fw-bold'>Confirmation de commande</h1>
                        <p><a href="#">commande n° <span id="order_number"></span></a></p>
                        <span>Prix total de la commande : <strong id="order_price"></strong></span>                        
                    </div>

                    <div class="row mb-5">
                        <div class="col col-lg-10">
                            <h2 class="h2 fw-bold font text-success">Votre commande à bien été enregistrée !</h2>
                            <p class="py-3 ">
                                Merci de votre confiance <span id="order_name"></span>.<br/>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et odio magni maxime saepe, consequuntur adipisci dolorem magnam deserunt, culpa at harum voluptate, est veritatis repellendus sint sit aliquid accusamus itaque.
                            </p>
                            <div >
                                <a  href="../index/index.html" class="btn btn-outline-dark rounded-pill ">Continuez mes achats</a>
                            </div>                            
                        </div>
                    </div> 

                </section>
            </div>
            <div class="col-12 col-xl-4 pt-5 px-0 pt-xl-0 ps-xl-5 ">
                <section class="p-5 bg-light h-100">

                        <h2 class="h2 fw-bold font">Date de livraison prévisionnel</h2>
                        <p class="h3" id="delivery_date_prev"></p>                
     
                </section>   
            </div>
        </div>
    </main>

    <footer id="mainFooter"  class="mt-auto py-3 bg-dark text-white" ></footer>

</body>
</html>