<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/styles.css">

    <script src="../../src/js/vendors/bootstrap.min.js" defer></script>
    <script type="module" src="confirm-command.js" defer></script>
    
    <title>Orinoco</title>
</head>
<body class="d-flex flex-column h-100">
    
    <header id="mainHeader"></header>

    <main class="container">

        <div class="row mt-5">
            <div class="col-8 py-5">
                <section class="row rounded-3 ">
                    <div class="mb-5">
                        <h1 class='fw-bold'>Confirmation de commande</h1>
                        <p><a href="#">commande n° &{commandeNumber}</a></p>
                        <span>&{price} €</span>                        
                    </div>

                    <div class="row mb-5">
                        <div class="col-8">
                            <h2 class="h2 fw-bold font text-success">Votre commande à bien été envoyée !</h2>
                            <p class="py-3 ">
                                Nous vous somme reconaissant d'avoir Lorem ipsum dolor sit amet 
                                consectetur adipisicing elit. Iure, nulla dignissimos? Autem dolore 
                                beatae ullam commodi distinctio facilis velit vel. Eum blanditiis culpa 
                                unde, architecto quas sequi veritatis ab quam?
                            </p>
                            <div >
                                <button type="button" class="btn btn-warning rounded-pill ">Voir les détails </button>
                                <button type="button" class="btn btn-outline-dark rounded-pill ">Continuez vos achats</button>
                            </div>                            
                        </div>
                        <div class="col-4">
                            <img class="w-100" src="../../public/images/livraison.png" alt="">
                        </div>
                    </div> 

                </section>
            </div>
            <div class="col-4 bg-light p-5">
                <section class="rounded-3">

                        <h2 class="h2 fw-bold font">Date de livraison prévisionnel</h2>
                        <p class="h3">10 Janvier 2021</p>                
     
                </section>   
            </div>
        </div>



                
        
                









        
    </main>

    <footer id="mainFooter" class="footer mt-auto py-3 bg-light"></footer>

</body>
</html>