<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/styles.css">


    <script src="../../public/js/popper.min.js" defer></script>
    <script src="../../public/js/bootstrap.min.js" defer></script>
    
    <title>Orinoco</title>
</head>
<body class="d-flex flex-column h-100">
    
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>   
        </div>
        
    </header>
    <main class="container">

        <div class="row mt-5">
            <div class="col-8 py-5">
                <section class="row rounded-3 ">
                    <div class="mb-5">
                        <h1 class='fw-bold'>Confirmation de commande</h1>
                        <p><a href="#">commande n° &{commandeNumber}</a></p>
                        <span>&{price} €</span>                        
                    </div>

                    <div class=" mb-5">
                        <h2 class="h2 fw-bold font text-success">Votre commande à bien été envoyée !</h2>
                        <p class="py-3 ">
                            Nous vous somme reconaissant d'avoir Lorem ipsum dolor sit amet 
                            consectetur adipisicing elit. Iure, nulla dignissimos? Autem dolore 
                            beatae ullam commodi distinctio facilis velit vel. Eum blanditiis culpa 
                            unde, architecto quas sequi veritatis ab quam?
                        </p>
                        <div >
                            <button type="button" class="btn btn-warning rounded-pill ">Voir les détails </button>
                            <button type="button" class="btn btn-outline-dark rounded-pill ">Continuez vos achats</button>
                        </div>
                    </div> 

                </section>
            </div>
            <div class="col-4 bg-light p-5">
                <section class="rounded-3">

                        <h2 class="h2 fw-bold font">Date de livraison prévisionnel</h2>
                        <p class="h3">10 Janvier 2021</p>                
     
                </section>   
            </div>
        </div>



                
        
                









        
    </main>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
          <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>

</body>
</html>