<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/styles.css">
    <link rel="stylesheet" href="../../public/css/bootstrap-icons/bootstrap-icons.css">

    <script src="../../src/js/vendors/bootstrap.min.js" defer></script>
    <script type='module' src="shop-item.js" defer></script>

    <title>Produit</title>
</head>
<body class="d-flex flex-column h-100">

  <header id="mainHeader" class="bg-dark"></header>    

    <main class="container">
        <div class="modal fade" id="modalAddBasket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="modal-title" id="exampleModalLabel">Votre article à bien été ajouté au panier</div>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card" >
                      <div id="imageProductAdded"></div>
                      <div class="card-body">
                        <div class="card-title h5" id="titleProductAdded">Card title</div>
                        <p class="card-text">Votre articles à bien été ajouté celon les modalités suivantes : </p>
                      </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Quantité : <strong id="quantityProductAdded"></strong></li>
                          <li class="list-group-item">Objectif choisi : <strong id="versionProductAdded"></strong></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="../basket/basket.html" type="button" class="btn btn-primary" >Voir le panier</a>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuer mes achats</button>
                </div>
              </div>
            </div>
        </div>

        <div class="mb-5">

          <!-- Produit -->
          <div id="container" ></div>



          <!-- Description -->
          <div class="bg-white p-sm-5 p-3">
            <h2 class="fw-bold">Caratéristiques</h2>

           
            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Les points clés</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>24,1 Mpx - Vidéo Full HD</li>
                <li>Mise au point (AF) Autofocus 9 collimateurs - 6400 ISO</li>
                <li>Capteur APS-C - Proc. DIGIC 4+</li>
              </ul>
              Le + : Full HD de qualité cinéma, pleins de couleurs, même en conditions de luminosité difficiles              
            </div>

 

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Les + de ce modèle</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">Avantages : Processeur DIGIC 9</div>

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Capteur</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Type : APS-C</li>
                <li>Technologie : CMOS</li>
                <li>Résolution (en mégapixels) : 24,1 Mpx</li>
              </ul>              
            </div>


            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Optique</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Sensibilité ISO : 100 - 6400</li>
                <li>Sensibilité maximale (+ d'infos) : 6400 ISO</li>
                <li>Vitesse d'obturation : 1/4000 à 30 s</li>
                <li>Stabilisateur : Sur l'objectif</li>
                <li>Proc. : DIGIC 4+</li>
              </ul>              
            </div>


            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Objectif</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Focale et Ouverture : f18 - 55 mm F / 3,5 - 5,6</li>
                <li>Diamètre du filtre : 58 mm</li>
              </ul>              
            </div>


            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Mode de visée</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Couverture du viseur : 95 %</li>
                <li>Viseur optique (+ d'infos) : Pentamiroir</li>
                <li>Visée à l'écran (Live View) : Oui</li>
              </ul>              
            </div>


            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Ecran</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Taille de l'écran (diagonale) : 7,5 cm</li>
                <li>Ecran orientable : Non</li>
                <li>Ecran tactile : Non</li>
                <li>Ecran inclinable : Non</li>
                <li>Couverture : 100 %</li>
                <li>Angle de vue : 170 °C</li>
              </ul>
            </div>


            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Mise au point</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">Mode: Automatique, Manuel</div>

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Alimentation</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Type d'alimentation : Batterie</li>
                <li>Référence de la batterie : LP-E10</li>
                <li>Autonomie annoncée par le constructeur : 500 prises de vue</li>
              </ul>
            </div>

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Mémoire</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Carte(s) mémoire(s) compatible(s) : : SD, SDHC, SDXC</li>
                <li><a href='#'>Consultez notre sélection de cartes mémoires</a></li>
                <li>Autonomie annoncée par le constructeur : 500 prises de vue</li>
              </ul>
            </div>

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Flash</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Flash intégré : Oui</li>
                <li>Nombre de guide pour 100 ISO : 9</li>
                <li>Détail des modes flash : Automatique, flash manuel (activé/désactivé)</li>
              </ul>
            </div>

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Modes scène</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Mode Macro</li>
                <li>Mode Paysage : Créer d'impressionnantes photos panoramiques</li>
              </ul>
            </div>

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Connectiques</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3"> Sortie HDRMI : Oui </div>

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Connectivité</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Wi-Fi : Oui</li>
                <li>NFC (+ d'infos) : Oui</li>
                <li>Bluetooth (+ d'infos) : Non</li>
              </ul>
            </div>

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Compatibilité image</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">Formats compatibles : JPEG, DCF, RAW</div>

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Fichier vidéo</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Vidéo : Full HD</li>
                <li>Durée maximale des vidéos : 29 minutes</li>
                <li>Résolution : 1920 x 1080p</li>
                <li>Format de la vidéo : MOV</li>
              </ul>
            </div>

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Contenu du carton</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">Licré avec : Notice, Batterie, Chargeur, 1 Objectif(s), carte SD 16 Go</div>

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Dimensions</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Dimensions l x h x p : 41.5 x 32.6 x 33 cm</li>
                <li>Poids sans accessoires : 475,00 g</li>
              </ul>
            </div>

            <h3 class="fw-bold fs-5 bg-light py-2 px-3 border">Informations et Services</h3>
            <div class="ps-sm-5 ps-3 p-2 pb-3 mb-3">
              <ul>
                <li>Durée de la garantie (Pièces et main d'oeuvre pour un produit neuf vendu par Boulanger) : 2 ans</li>
                <li>Disponibilité des pièces détachées (données fournisseur) : Pendant 5 ans, à compter de la date fin de commercialisation</li>
              </ul>
            </div>

          </div> 
          
        
        </div>
        <!---->
    </main>

    <footer id="mainFooter"  class="mt-auto py-3 bg-dark text-white" ></footer>

</body>
</html>