<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../public/css/styles.css">
    <link rel="stylesheet" href="../../public/css/bootstrap-icons/bootstrap-icons.css">

    <script src="../../src/js/vendors/bootstrap.min.js" defer></script>
    <script type='module' src="shop-item.js" ></script>

    <title id="title"></title>
</head>
<body class="d-flex flex-column h-100">

  <header id="mainHeader" class="bg-dark"></header>    

    <main class="container">
        <div class="modal fade" id="modalAddBasket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="modal-title" id="exampleModalLabel">Votre article à bien été ajouté au panier</div>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card" >
                      <div id="imageProductAdded"></div>
                      <div class="card-body">
                        <div class="card-title h5" id="titleProductAdded">Card title</div>
                        <p class="card-text">Votre articles à bien été ajouté celon les modalités suivantes : </p>
                      </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Quantité : <strong id="quantityProductAdded"></strong></li>
                          <li class="list-group-item">Objectif choisi : <strong id="versionProductAdded"></strong></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="../basket/basket.html" class="btn btn-primary" >Voir le panier</a>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuer mes achats</button>
                </div>
              </div>
            </div>
        </div>

        <div class="mb-5">

          <!-- Produit -->
          <div id="container" ></div>



          <!-- Description -->
          <div id="description"></div>
          
        

        </div>

    </main>

    <footer id="mainFooter"  class="mt-auto py-3 bg-dark text-white" ></footer>

</body>
</html>