<div class="modal fade" id="modalAddBasket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Informations de livraison</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formDelivery" class="row" action="" method=""  novalidate>

                    <div class="mb-3">
                        <label for="country" class="mb-1" aria-label="Pays">Pays</label>
                        <select class="form-control" id="country" name="country" disabled>
                            <option value="0">France</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="firstName" class="mb-1" aria-label="Prénom">Prénom</label>
                        <input type="text" class="form-control" id="firstName" name="firstName"  pattern="^[\\p{L} '-]+$" required value="${deliveryConctact.firstName}">
                        
                        <div class="invalid-feedback">
                            <strong>Le Prénom n'a pas été renseigné, ou a été mal renseigné.</strong><br/>
                            Seul les caracètres suivants sont autorisés : 
                            <ul>
                                <li>Les caractères alphabétiques</li>
                                <li>l'apostrophe (')</li>
                                <li>le tiret (-)</li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="mb-1"   aria-label="Nom">Nom</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" pattern="^[\\p{L} '-]+$"  required value="${deliveryConctact.lastName}">
                        
                        <div class="invalid-feedback">
                            <strong>Le Nom n'a pas été renseigné, ou a été mal renseigné.</strong><br/>
                            Seul les caracètres suivants sont autorisés : 
                            <ul>
                                <li>Les caractères alphabétiques</li>
                                <li>l'apostrophe (')</li>
                                <li>le tiret (-)</li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="adressLine1" class="mb-1"   aria-label="Adresse ligne 1">Adresse ligne 1</label>
                        <input type="text" class="form-control" id="adressLine1" name="adressLine1" placeholder="Adresse postale, boîte postale" required value="${deliveryConctact.adressLine1}">
                        
                        <div class="invalid-feedback"> <strong>L'Adresse ligne 1 n'a pas été renseignée..</strong> </div>
                    </div>

                    <div class="mb-3">
                        <label for="adressLine2" class="mb-1"   aria-label="Adresse ligne 2">Adresse ligne 2</label>
                        <input type="text" class="form-control" id="adressLine2" name="adressLine2" placeholder="Appartement, suite unité, immeuble, étage, etc." value="${deliveryConctact.adressLine2}">
                    </div>

                    <div class="mb-3">
                        <label for="city" class="mb-1" aria-label="Ville">Ville</label>
                        <input type="text" class="form-control" id="city" name="city"  required value="${deliveryConctact.city}">
                        
                        <div class="invalid-feedback"> <strong>La Ville n'a pas été renseignée.</strong> </div>
                    </div>

                    <div class="mb-3">
                        <label for="zipCode" class="mb-1"   aria-label="Code Postale">Code Postale</label>
                        <input id="zipCode" name="zipCode" type="text" class="form-control" pattern="^[\\p{N}]{5}$" minlength="5" maxlength="5"  required value="${deliveryConctact.zipCode}">
                        
                        <div class="invalid-feedback">
                            <strong>Le code Postale n'a pas été renseigné, ou a été mal renseigné.</strong>
                            <ul>
                                <li>Seul les caracètres numériques sont autorisés</li>
                                <li>Il doit contenir 5 chiffres</li>
                            </ul>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="phoneNumber" class="mb-1"   aria-label="Numéro de téléphone">Numéro de téléphone</label>
                        <input id="phoneNumber" name="phoneNumber" type="tel" class="form-control" pattern="^0[\\p{N}]{9}$" maxlength="10"   required value="${deliveryConctact.phoneNumber}">
                        
                        <div class="invalid-feedback">
                            <strong>Le numéro de téléphone n'a pas été renseigné, ou a été mal renseigné.</strong>
                            <ul>
                                <li>Seul les caracètres numériques sont autorisés</li>
                                <li>Il doit contenir 10 chiffres</li>
                            </ul>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="email" class="mb-1" aria-label="Adresse email">Adresse email</label>
                        <div class="input-group has-validation ">
                            <span class="input-group-text" id="inputGroupPrepend3">@</span>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback emailHelp" required value="${deliveryConctact.email}">
                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                <strong>L'adresse email n'a pas été renseigné, ou a été mal renseigné.</strong>
                            </div>
                        </div>
                        <div id="emailHelp" class="form-text">Exemple : Phil@contat.fr</div>
                    </div>

                    <div class="">
                        <h3 class="h3">Ajouter des instructions pour la livraison</h3>
                        <div class="mb-3">
                            <label for="moreInfo" class="mb-1"   aria-label="Avons-nous besoin de directions supplémentaires pour trouver cette adresse?">
                                Avons-nous besoin de directions supplémentaires pour trouver cette adresse?
                            </label>
                            <textarea name="moreInfo" class="form-control" id="moreInfo" rows="5" placeholder="Fournir des détails tels que la description du bâtiment, un point de repère à proximité ou d'autres instructions de navigation">${deliveryConctact.moreInfo}</textarea>
                        </div>
                    </div>   
                    
                    <div class="mb-3">
                        <label for="secureBuildingCode" class="mb-1"   aria-label="Faut-il un code de sécurité ou un numéro de téléphone pour accéder au bâtiment ?">
                            Faut-il un code de sécurité ou un numéro de téléphone pour accéder au bâtiment ?
                        </label>
                        <input type="text" class="form-control" id="secureBuildingCode" name="secureBuildingCode" value="${deliveryConctact.secureBuildingCode}" >
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Valider</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    
                </form> 
            </div>
        </div>
    </div>
</div>