<div class="col-12 ">
    <div class="card-item">
        <div class="row py-5 border-bottom">
            <div class="col-3">
                <a href="${pathPageItem  + item._id}"><img class="card-item__thumb" src="${item.imageUrl}"  alt="${item.description}"></a>
            </div>
            <div class="col-8 ps-3">
                <h3 class="card-item__title fs-5 "><a href="${pathPageItem  + item._id}">${item.name}</a></h5>
                <span class="fs-4">${item.getParsedPrice()}</span>
                <p class="card-text">${item.description}</p>
                <a href="${pathPageItem  + item._id}" class="btn btn-sm btn-warning rounded-3">en savoir plus</a>
            </div>
        </div>
    </div>                   
</div>