//
$cyan : #19d2fe;

//boostrap
$font-family-sans-serif: 'SFProDisplay-Regular';
$dark: black;
$body-color: black;

$navbar-dark-color: white;
$navbar-dark-hover-color: darken($cyan, 10%);
$navbar-dark-disabled-color:  rgba(white, .50);
$navbar-nav-link-padding-x: 1rem;
$nav-link-transition: none;





